@model UVCRMS.Models.Department

@{
    ViewData["Title"] = "Create Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success text-center">
            @TempData["SuccessMessage"]
        </div>
    }
    <h4><strong>Save Department</strong></h4>

    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="DepartmentCode" class="form-label">Code</label>
            <input asp-for="DepartmentCode" class="form-control" />
            <span asp-validation-for="DepartmentCode" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DepartmentName" class="form-label">Name</label>
            <input asp-for="DepartmentName" class="form-control" />
            <span asp-validation-for="DepartmentName" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    <script src="~/bundles/jqueryval"></script>
}
