@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="alert alert-primary">University Course & Result Management System</h1>
</div>

<div class="">
    <img style="width: 100%"; height="auto" src="~/images/university.jpg" alt="University Image" />
</div>
